
<div class="container mx-auto">
    <div class="w-8/12 mx-auto">
        <form action="/reservaciones/add" method="post">
            <div class="my-4">
                <input class="border-2 border-gray rounded block w-full p-2" type="text" name="nombre" id="nombre"
                    placeholder="El nombre del cliente">
            </div>

            <div class="my-4">
                <input class="border-2 border-gray rounded block w-full p-2" type="tel" name="telefono" id="telefono"
                    placeholder="Télefono del cliente">
            </div>

            <select name="id_actividad" id="id_actividad" class="my-4 border-2 border-gray rounded block w-full p-2">
                <option value="" disabled selected>--Seleccione una actividad</option>
                {{#each actividades}}
                    <option value={{id}}>{{nombre}}</option>
                {{/each}}
            </select>

            <select name="id_horario" id="id_horario" class="my-4 border-2 border-gray rounded block w-full p-2">
                <option value="" disabled selected>--Selecciona un horario</option>
                {{#each horarios}}
                    <option value={{id}}>{{hora}}</option>
                {{/each}}
            </select>

            <button id="agregar" class="px-3 py-2 bg-green-500 rounded text-white" type="submit">Agregar</button>
        </form>
    </div>

    <div class="my-10">
        <h3 class="text-center">Registros recientes</h3>        
        <div class=" mt-5">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 px-10 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Cliente
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Telefono
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Horario
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Actividad 
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Accion 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each registros}}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="py-4 px-6 font-medium text-white">
                            {{cliente}}
                        </th>
                        <td class="py-4 px-6">
                            {{telefono}}
                        </td>
                        <td class="py-4 px-6">
                            {{hora}} - Horas
                        </td>
                        <td class="py-4 px-6">
                            {{nombre}}
                        </td>
                        <td class="py-4 px-6">
                            <a href="/reservaciones/delete/{{id}}"
                                class="px-2 py-1 text-white bg-red-400 rounded">Eliminar</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{!-- <script type="text/javascript">
    const button = document.querySelector("#agregar");
    const nombre = document.querySelector("#nombre");
    const telefono = document.querySelector("#telefono");
    const actividad = document.querySelector("#id_actividad");
    const horario = document.querySelector("#id_horario");

     button.addEventListener("click",(e)=>{
        e.target.preventDefault();
        if(nombre.value.length < 1 || telefono.value.length < 1 || actividad.value == "" || horario.value == "" )
        {
            Swal.fire({
            title: 'Error!',
            text: 'Llena todos los Campos para continuar',
            icon: 'error',
            confirmButtonText: 'De acuerdo'
            })
        }
        
    })
 </script> --}}